{% include "../registration/index.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="post">
{% csrf_token %}
<div>
<input type="text" placeholder="E-mail." name="e-mail" class="form-control" required="required"/>
    {% for message in messages %}

            <label class="text-danger">{{ message }}</label>
        {% endfor %}
</div>
{{ form.as_p }}
<p><input type="submit" href="../otp_varification/" value="Send e-mail"></p>
{% csrf_token %}
</form>
{% endblock %}